<a href="https://colab.research.google.com/github/srushtinalawade-gif/Tuple-in-Python/blob/main/Practical_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Study of Tuple in Python
## Name:Srushti J. Nalawade
## PRN: 25070123157
## Branch: ENTC A1
##Experiment 4

In [ ]:
## Python Tuples
mytuple=("C","C++","Python")
print(mytuple[1])

C++

In [ ]:
mytuple1=("C","C++","Python")
print(mytuple1[1:3])

('C++', 'Python')

In [ ]:
# Replacing
mytuple2=("C","C++","Python","sql")
mytuple2[2]=("R")

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Append items
mytuple3=("C","C++","Python")
mytuple3.append("sql")
print(mytuple3)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Addition
t1= (1,2,3)
t2=(4,5)

t3=t1+t2

print("t1:",t1)
print("t2:",t2)
print("t3:",t3)

t1: (1, 2, 3)
t2: (4, 5)
t3: (1, 2, 3, 4, 5)

In [ ]:
#Problem 1
'''A student's exam result is stored in a tuple containing three fixed fields:
Subject name, marks obtained and grade.

write a python program to:

Store the exam result using a tuple.

Unpack the tuple elemtnts into separate variables.

Display the subject, marks, and grade.

Check whether the students has scored 75 or more marks and print "Distinction"
if the condition is satisfied.'''

student=("Chemistry",87,"A")
subject=student[0]
marks=student[1]
grade=student[2]
print("Subject",subject)
print("Marks",marks)
print("Grade",grade)

if student[1]>75:
  print("Distinction")

Subject Chemistry
Marks 87
Grade A
Distinction

In [ ]:
#Problem 2
attendance=("P","A","P","P","A","P","P","P","A")
print("No. of Present days:",attendance.count("P"))
print("No. of Absent days:",attendance.count("A"))

if attendance.count("A")>0:
  print("The Employee was absent")

No. of Present days: 6
No. of Absent days: 3
The Employee was absent